{% extends 'base.html' %}
{% load static %}

{% block title %} Alomatlar {% endblock %}

{% block content %}


    <h1>Kasallik alaomatlari </h1>
    <hr>
    <form action="{% url 'kasallik' %}">
        {% for alomat in alomatlar %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="{{alomat.name}}" id="{{alomat.name}}" name="{{alomat.id}}">
            <label class="form-check-label" for="{{alomat.name}}">
                {{alomat.name}}
            </label>
        </div>
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>



{% endblock %}