{% extends 'base.html' %}
{% load static %}

{% block title %} Kasalik {% endblock %}

{% block content %}

    <h1>Kasallik haqida ma'lumotlar</h1>
    <hr>
    <!-- {% for kasalllik_alomatlar_count in kasalllik_alomatlar_counts %}
    <h1>{{kasallik.name}}</h1>
    
    {% endfor %} -->
    <!-- <h3>{{kasal}}</h3> -->
    <h1> Kasalik1 bulish ehtimoli - {{k1}} %</h1>
    <h1> Kasalik2 bulish ehtimoli - {{k2}} %</h1>
    <h1> Kasalik3 bulish ehtimoli - {{k3}} %</h1>
    <h1> Kasalik4 bulish ehtimoli - {{k4}} %</h1>
    <h1> Kasalik5 bulish ehtimoli - {{k5}} %</h1>
    <h1> Kasalik6 bulish ehtimoli - {{k6}} %</h1>
    <h1> Kasalik7 bulish ehtimoli - {{k7}} %</h1>
    <h1> Kasalik8 bulish ehtimoli - {{k8}} %</h1>
    <h1> Kasalik9 bulish ehtimoli - {{k9}} %</h1>
    <h1> Kasalik10 bulish ehtimoli - {{k10}} %</h1>
{% endblock %}